<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--add code about new servlet-->
    <servlet>
        <servlet-name>AiWenhao</servlet-name> <!--give any name-->
        <servlet-class>com.AiWenhao.week2.demo.HelloWorldServlet</servlet-class> <!--package + name of servlet class-->
    </servlet>
    <servlet>
        <servlet-name>LifeCycleServlet</servlet-name>
        <servlet-class>com.AiWenhao.week3.demo.LifeCycleServlet</servlet-class>
    </servlet>
    <!--automatic code-->
<!--    <servlet>-->
<!--        <servlet-name>RegisterServlet</servlet-name>-->
<!--        <servlet-class>com.AiWenhao.week3.demo.RegisterServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet>-->
<!--        <servlet-name>ConfigDemoServlet</servlet-name>-->
<!--        <servlet-class>com.AiWenhao.week4.demo.ConfigDemoServlet</servlet-class>-->
<!--    <init-param>-->
<!--        <param-name>name</param-name>-->
<!--        <param-value>AiWenhao</param-value>-->
<!--    </init-param>-->
<!--    <init-param>-->
<!--        <param-name>studentId</param-name>-->
<!--        <param-value>2019211001000708</param-value>-->
<!--    </init-param>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--    <servlet-name>ConfigDemoServlet</servlet-name>-->
<!--    <url-pattern>/config</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet-mapping>
        <servlet-name>AiWenhao</servlet-name>
        <url-pattern>/hello1</url-pattern> <!--URL must start with / -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LifeCycleServlet</servlet-name>
        <url-pattern>/life</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>safety</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
<!--    <servlet>-->
<!--        <servlet-name>LoginServlet</servlet-name>-->
<!--        <servlet-class>com.AiWenhao.week5.demo.LoginServlet</servlet-class>-->
<!--    </servlet>-->
    <servlet-mapping>
        <servlet-name>safety</servlet-name>
        <url-pattern>/register.jsp</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost;databaseName=userdb;</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>123456</param-value>
    </context-param>

    <!--    <servlet-mapping>-->
<!--        <servlet-name>RegisterServlet</servlet-name>-->
<!--        <url-pattern>/register</url-pattern>&lt;!&ndash;write this url to action&ndash;&gt;-->
<!--    </servlet-mapping>-->
    <!-- x = 5 , a = x ,so we can see a = 5
    so /hello == com.AiWenhao.week2.demo.HelloWorldServlet
    -->
<!--when you run app一first request send to home- HomeServLet-->
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>

<!--    <filter>-->
<!--        <filter-name>HelloServLet</ filter-name>-->
<!--        <filter-class>com.AiWenhao.filter.HelloFilter</ filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--    <filter-name>HelloFilter</ filter-name>-->
<!--    <url-pattern>/hello</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter>-->
<!--        <filter-name>LoggerFilter</ filter-name>-->
<!--        <filter-class>com.AiWenhao.filter.LoggerFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>LoggerFilter</ filter-name>-->
<!--    <url-pattern>/hello</url-pattern>-->
<!--    </filter-mapping>-->
<!--        !&#45;&#45;-->
<!--        3rd one &ndash;&gt;-->
<!--    <filter>-->
<!--    <filter-name>AuthFilter</ filter-name>-->
<!--    <filter-class>com.AiWenhao.filter.AuthFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--    <filter-name> AuthFilter</filter-name>-->
<!--    <url-pattern>/hello</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>


<!--{

    <servlet>
        <servlet-name>JDBCDmeoServlet</servlet-name>
        <servlet-class>com.AiWenhao.week4.demo.JDBCDmeoServlet</servlet-class>
      String driver = "com.microsoft.sqlserver.jdbc.SQLServerDriver";
//        String url = "jdbc:sqlserver://localhost;databaseName = userdb;";
//        String username = "sa";
//        String password = "123456";-->
        <!--        set in web.xml as config parameter -,for only one servlet ,JDBCDmeoServlet -->
        <!--<init-param>-->
        <!--<param-name>driver</param-name>-->
        <!--<param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        <!--<param-name>url</param-name>-->
        <!--<param-value>jdbc:sqlserver://localhost;databaseName = userdb;</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        <!--<param-name>username</param-name>-->
        <!--<param-value>sa</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
        <!--<param-name>password</param-name>-->
        <!--<param-value>123456</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>1</load-on-startup>-->
        <!--        &lt;!&ndash; load and call init() when tomcat start&ndash;&gt;-->
        <!--        </servlet>-->
        <!--<servlet-mapping>-->
        <!--<servlet-name>JDBCDmeoServlet</servlet-name>-->
        <!--<url-pattern>/jdbc</url-pattern>-->
        <!--</servlet-mapping>
}-->